/**
 * 	Author: emimafia
 * 	Contrast Stylesheet
 * 
 * 	#000000 - black
 * 	#FFFF00 - yellow
 * 	#00FFFF - cyan
 */

/*
 * @TODO Maybe it would be clever to raise the standard font-size while in contrast
 */

/*html {
	font-size: 14px;
}*/
body {
	background: #000000;
}
header {
	background: #FFFF00;
	color: #000000;
}
#content {
	background: #000000;
	color: #FFFF00;
	font-weight: bold;
	border-right: 2px solid #FFDD57;
}
#content #description {	
	width: 498px;
	border-left: 2px solid #FFDD57;
}
#content #audio,
#content #video {
	width: 405px;
}
nav h3 {
	color: #FFFF00;
}
nav {
	background: #000000;	
	border: 2px solid #FFDD57;
	border-left: none;
}
#nav-inner {
	height: 100%;
}
nav a,
a {
	color: #00FFFF;
}
footer {
	background: #000000;
	color: #FFFF00;
	border: 2px solid #FFDD57;
}
#additional-links {
	font-weight: bold;
}
