/**
 * 	Author: emimafia
 * 	Contrast Stylesheet
 * 
 * 	#000000 - black
 * 	#FFFF00 - yellow
 * 	#00FFFF - cyan
 */

/*
 * @TODO Maybe it would be clever to raise the standard font-size while in contrast
 */

/*html {
	font-size: 14px;
}*/
body {
	background: #000000;
}
header {
	background: #FFFF00;
	color: #000000;
}
#nav-switch {
	background: #000000;
	border: 2px solid #FFDD57;
	color: #00FFFF;
}
#content {
	background: #000000;
	color: #FFFF00;
	font-weight: bold;
	border-right: 2px solid #FFDD57;
	border-left: 2px solid #FFDD57;
}
#content table {
	border: 1px solid #FFDD57;
}
#content table thead {
	color: #000000;
	background: #FFFF00;
}
thead td {
	border-bottom: 2px solid #000000;
}
tbody .odd {
	background: #555555;
}
tbody .even {
	background: #333333;
}
tbody tr:hover {
	background: #000000;
}
tbody tr td:first-child {
	border-right: 1px solid #FFDD57;
}
#content #description {	
	width: 498px;
}
#content #audio,
#content #video {
	width: 405px;
}
#gallery .flexslider {
	background: #000000;
}
.slides li a:hover img {
	box-shadow: 0 0 10px #FFFFFF;
}
.flexslider .flex-direction-nav a {
	color: #00FFFF;
}
nav h3 {
	color: #FFFF00;
}
nav {
	background: #000000;	
	border-right: 2px solid #FFDD57;
}
#nav-inner {
	height: 100%;
}
nav a,
a {
	color: #00FFFF;
}
nav a:hover {
	text-shadow: 0 0 1px #00FFFF;
}
footer {
	background: #000000;
	color: #FFFF00;
	border: 2px solid #FFDD57;
}
footer #additional-links {
	font-weight: bold;
	width: 120px;
}
